@charset "UTF-8";

@import url("https://use.fontawesome.com/releases/v5.13.1/css/all.css");
@font-face {font-family: "Gilroy Black"; src: url("//db.onlinewebfonts.com/t/03064356c75fa5724311add92fe92b0f.eot"); src: url("//db.onlinewebfonts.com/t/03064356c75fa5724311add92fe92b0f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/03064356c75fa5724311add92fe92b0f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/03064356c75fa5724311add92fe92b0f.woff") format("woff"), url("//db.onlinewebfonts.com/t/03064356c75fa5724311add92fe92b0f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/03064356c75fa5724311add92fe92b0f.svg#Gilroy Black") format("svg"); }
*{
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
}

.smart-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.top-bar {
    position: relative; 
    background: #004f71;    
    font-size: 1em;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -25px;
    margin-left: -25px;
}

.date-block {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.date {
    font-family: Gilroy-Black,sans-serif;
    color: #ffffff;
}

.socialmedia-block {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.social-media {
    color: #ffffff;
    display: flex;
}

.icon {
    color: #ffffff;
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
}

.fab {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
