@charset "UTF-8";

@import url("https://use.fontawesome.com/releases/v5.13.1/css/all.css");
@font-face {
    font-family: Gilroy-Black;
    src: url(Gilroy-Black.woff);
  }
  

*{
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
}

.smart-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.top-bar {
    position: relative; 
    background: #004f71;    
    font-size: 1em;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -25px;
    margin-left: -25px;
}

.date-block {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.date {
    font-family: Gilroy-Black,sans-serif;
    color: #ffffff;
}

.socialmedia-block {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.social-media {
    color: #ffffff;
    display: flex;
}

.icon {
    color: #ffffff;
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
}

.fab {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.navbar {
    position: relative;
    z-index: 1500;
    background: white;
    width: 100%;
    transition: all 0.4s;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}

.shadow {
    box-shadow: 0 0.9375rem 1.40625rem 
    rgba(90,97,105,0.1),0 0.25rem 0.53125rem 
    rgba(90,97,105,0.12),0 0.125rem 0.1875rem 
    rgba(90,97,105,0.1);
}

.navbar-logo {
    display: inline-block;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    width: 130px;
    text-decoration: none;
    background-color: transparent;
}


.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    display: block;
}

.float-child{
    float:left;
}


.nav {
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;

    margin-top: 0;
    

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


.nav-item {
    font-size: 1em;
    position: static;
    display: list-item;

}

.nav-link {
    font-family: Gilroy-Black,sans-serif;
    color: #004f71;
    padding-right: 0;
    padding-left: 0;
    display: block;
    padding: 0.5rem 1rem;
    white-space: nowrap;
}
