body {
    font-family: 'Nunito', sans-serif;
}

.chatbox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 100%;
}

.header {
    font-family: Gilroy-Black,sans-serif;
    color: white;
    position: sticky;
    top: 0;
    background: #004f71;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    transition: all .5s ease-in-out;
    color: white;
    background: #f9f9f9;
    height: 900px;
    width: 700px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.send {
    font-family: Gilroy-Black,sans-serif;
    font-weight: 600;
    margin-left: 1rem;
    padding: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background: #004f71;
}

.clear {
    margin-right: 1rem;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background: #ff0005;
}

.back {
    
    color: white;
    background-color: #004f71;
}

.info {
    background-color: #004f71;
    color: white;
    margin-left: 1rem;
}


.popup {
    width: 400px;
    background: #fff;
    border: #004f71;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 2;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}


.popup h2 {
    font-family: Gilroy-Black,sans-serif;
  color: #004f71;
  font-style: normal;
  font-weight: 800;
  text-decoration: none;
  margin: 20px 0 20px;
}

.popup button{
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    background: #004f71;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.history {
    color: white;
    background-color: #004f71;
}

.bi {
    font-size: 1.5rem;
}

.output {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
    padding-bottom: 20px;
}

/*----------------------------------------*/
.messages {
    background: orange;
    width: fit-content;
    margin-top: 10px;
    padding: 8px 12px;
    max-width: 70%;
	word-wrap: break-word;
	text-align: left;
}

.bot {
    margin-left: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #004f71;
    color: white;
}

.visitor {
    margin-right: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
	background-color: #DCDCDC;
	color: black;
}

.input {
    position: sticky;
    bottom: 0;
    background: #004f71;
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.input input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    text-align: left;
    border-radius: 20px;
}

