<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="style.css">
	<meta charset="UTF-8">
	<title>Chatbot</title>
</head>
<body>
<div class="container">
	<div class="chatbox">
		<div class="main">
			<div class="header">
				<h4>Chat Bot</h4>
			</div>
			<div class="output">
				<div></div>
			</div>
			<div class="input">
				<button class="clear">x</button>
				<input type="text" id="msg" placeholder="Message...">
				<button class="send">Send</button>
			</div>
		</div>
	</div>
</div>
<script src="./chat.js"></script>
</body>
</html>