body {
    font-family: 'Nunito', sans-serif;
}

.chatbox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.header {
    position: sticky;
    top: 0;
    background: #004f71;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    transition: all .5s ease-in-out;
    color: white;
    background: #f9f9f9;
    height: 900px;
    width: 700px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.send {
    padding: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    color: black;
    background: white;
}

.clear {
    padding: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background: #ff0005;
}

.help {
    color: white;
    background-color: #004f71;
}

.back {
    color: white;
    background-color: #004f71;
}

.history {
    color: white;
    background-color: #004f71;
}

.bi {
    font-size: 1.5rem;
}

.output {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
    padding-bottom: 20px;
}

/*----------------------------------------*/
.messages {
    background: orange;
    width: fit-content;
    margin-top: 10px;
    padding: 8px 12px;
    max-width: 70%;
	word-wrap: break-word;
	text-align: left;
}

.bot {
    margin-left: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #004f71;
    color: white;
}

.visitor {
    margin-right: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
	background-color: #DCDCDC;
	color: black;
}
/*----------------------------------------*/

.input {
    position: sticky;
    bottom: 0;
    background: #004f71;
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.input input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    text-align: left;
    border-radius: 20px;
}