<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="textbookstyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<div class="container">
    <div class="chatbox">
        <div class="main">
            <div class="header">
                <div class="container-fluid">
                    <div class="row">
                      <div class="col">
                          <a href="home.html" class="back"><div class="bi bi-arrow-return-left"></div></a>
                          
                      </div>
                      <div class="col-7">
                    <h4>Chat Bot</h4>
                      </div>
                      <div class="col">
                        <button class="history"><i class="bi bi-chat-left-text"></i></button>
                      </div>
                      <a href="home.html" class="help"><div class="bi bi-info-lg"></div></a> 
                    </div>
                </div>
            </div>
            <div class="output"><div></div></div>
            <div class="input">
                <button class="clear">x</button>
                <input type="text" id="msg" placeholder="Write a message...">
                <button class="send">Send</button>    
            </div>
            
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/linkifyjs@3.0.5/dist/linkify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/linkify-html@3.0.5/dist/linkify-html.min.js"></script>
<script src="./chat.js"></script>
</body>
</html>